---
export interface Props {
  fotoBgLoveStory: string;
  separator1: string;
  separator2: string;
  separator3: string;
  separator4: string;
}

const {
  fotoBgLoveStory,
  separator1, 
  separator2, 
  separator3, 
  separator4 
} = Astro.props;
---

<section class="section section__lovestory" >
    <p class="font-hw text__title">Our Love Story</p>

    <img src={fotoBgLoveStory} class="photo js-show-on-scroll" />

    <div class="text__container">
        <p class="font-hw text__subtitle">1 Januari 2020</p>
        <p class="js-show-on-scroll text__paragraph ">Kami diperkenalkan oleh teman kami, pada sebuah cafe.</p>
        <span class=""></span>
        <p class="font-hw text__subtitle">1 Maret 2020</p>
        <p class="js-show-on-scroll text__paragraph">Hubungan semakin dekat, dan kami mulai lebih dekat dari teman sekedar teman biasa.</p>
        <span class=""></span>
        <p class="font-hw text__subtitle">1 April 2023</p>
        <p class="js-show-on-scroll text__paragraph">Kami merasa mantap dan dia pun mulai melakukan acara pelamaran.</p>
        <p class="js-show-on-scroll text__paragraph">Bismillah...</p>
    </div>
</section>

