---
export interface Props {
    separator1: string;
    separator2: string;
    separator3: string;
    separator4: string;
}

const { 
    separator1, 
    separator2, 
    separator3, 
    separator4 
} =
  Astro.props;
---
<section
  class="relative mt-10 h-1/3 bg-fixed justify-around text-center z-20 "
>
  <div class="">
    <p class="text-2xl font-bold mb-10 text-center ">Wedding Schedule</p>
    <div class="flex justify-around md:w-1/5 mx-auto js-show-on-scroll ">
        <p class="text-5xl " id="day"></p>
        <p class="text-5xl " id="hour"></p>
        <p class="text-5xl " id="minute"></p>
        <p class="text-5xl " id="second"></p>
    </div>
<!--<button class="mt-10 backdrop-blur-sm bg-stone-600 text-white rounded p-3"><a class=" text-center" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&dates=20230429T043000Z%2F20230319T043000Z&ctz=Asia/Makassar">Save the date</a></button>-->
  </div>

<!--      <img src={separator2} class="md:w-1/6 w-2/3 mx-auto mt-36 js-show-on-scroll" />-->

</section>

<script is:inline>
// Set the date we're counting down to
var countDownDate = new Date("31 Dec, 2024 15:26:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // If the count down is over, write some text 
  if (distance < 0) {
  var days = Math.floor(distance / (1000 * 60 * 60 * 24) * 0);
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60) * 0);
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60) * 0);
  var seconds = Math.floor((distance % (1000 * 60)) / 1000 * 0);
  clearInterval(x);
//    document.getElementById("demo").innerHTML = "We Married";
  }

  // Output the result in an element with id="demo"
  document.getElementById("day").innerHTML = days + "<br/>" + "<p class='text-xs'>Days";
  document.getElementById("hour").innerHTML = hours + "<br/>" + "<p class='text-xs'>Hours";
  document.getElementById("minute").innerHTML = minutes + "<br/>" + "<p class='text-xs'>Minutes";
  document.getElementById("second").innerHTML = seconds + "<br/>" + "<p class='text-xs'>Seconds";
    
}, 1000);
</script>
