---
export interface Props {
  namaCewe: string;
  namaCowo: string;
  fotoBgPopup: string;
    separator1: string;
    separator2: string;
    separator3: string;
    separator4: string;
}

const { namaCewe, namaCowo, fotoBgPopup, separator1, separator2, separator3, separator4 } = Astro.props;
---

<div class="popup ">
  <section
    class="popup-section"
  >
    <img
      src={fotoBgPopup}
      class="popup-img "
    />

      <!--<img
        src="https://images.unsplash.com/photo-1542491873-564432bfb050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"
        class="popup-img"
      />-->

        <div class="popup-content ">
            <!--<div class="w-2/12 bg-black/50 h-screen flex flex-col justify-center  ">
                <p class="-rotate-90 font-serif text-4xl text-white whitespace-nowrap ">Save The Date</p>
            </div>-->
            <div class="popup-content-main ">
                <p class="popup-content-main-text">Undangan Pernikahan</p>
                <p class="font-hw popup-content-main-couple-name js-show-on-scroll">{namaCowo} & {namaCewe}</p>

                <div class="popup-content-main-text-guest ">
                    <p class="popup-content-main-text js-show-on-scroll">Kepada Yth:</p>
                    <p class="popup-content-main-text-guest-name  js-show-on-scroll">
                        <script is:inline>
                        const queryString = document.location.search;
                        const urlParams = new URLSearchParams(queryString);
                        const namaTamu = urlParams.get("to");

                        if (namaTamu !== null) { 
                            document.write(namaTamu);
                        }
                        </script>
                    </p>
                    <button
                        id="togglefs"
                        class="bukaundangan popup-toggle-button "
                        onclick="SoundPlay()"
                   >Buka Undangan</button >
                </div>
            </div>
        </div>
  </section>
</div>

<style>
.popup{
    position: absolute;
    z-index:50;
    width: 100%;
    height: 100vh;
}
.popup-hide{
    transform: translateX(-100vw);
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1000ms;
}
.popup-section{
    background: #121212;
    color: #efefef;
    position: fixed;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: around;
    text-align: center;
    scroll-snap-align: center;
}
.popup-img{
    position:absolute;
    object-fit:cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-position: center;
}
.popup-content{
    display:flex;
    z-index: 40;
    margin-top:2em;

}
.popup-content-main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height:100%;
}
.popup-content-main-text{
    font-size: .9em;
    margin-bottom:3em;
}
.popup-content-main-couple-name{
    font-size: 3em;
    margin: 1em 0;
}
.popup-content-main-text-guest{
    width: 100%;
}
.popup-content-main-text-guest-name{
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2em;
}
.popup-toggle-button{
    border: 2px solid #121212; 
    color: #efefef;
    padding: 2em;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}

</style>
