<nav class="navbar">
<a class="navbar-link" href="/">home</a>
<a class="navbar-link" href="/halo">halo</a>
</nav>

<style >
  .navbar{
      background:#222222;
      display:flex;
      justify-content:center;
      gap:3em;
      padding:1em;
  }
  .navbar-link{
      text-decoration:none;
    color:white;    
  }
</style>
