---
export interface Props {
  fotoBgLoveStory: string;
  separator1: string;
  separator2: string;
  separator3: string;
  separator4: string;
}

const {
  fotoBgLoveStory,
  separator1, 
  separator2, 
  separator3, 
  separator4 
} = Astro.props;
---

<section
    class="mb-36 relative md:h-full md:flex flex-col justify-center items-center text-start bg-cover bg-center snap-start"
>
    <!--      <img src={separator3} class="md:w-1/6 w-2/3 mx-auto mb-36 js-show-on-scroll" />-->

    <p class="text-2xl font-serif text-start ml-7 mb-3">Our Love Story</p>

    <div class="flex items-center justify-between flex-wrap">
        <div class=" md:w-1/2 w-full z-30 p-6 ">
            <img 
                src={fotoBgLoveStory}
                class="bg-center object-cover  md:h-96 w-full rounded shadow-2xl  js-show-on-scroll  "
            />
        </div>

        <div class="md:w-1/2 w-full z-30 p-6 ">

            <p class="font-bold">1 Januari 2020</p>

            <p class="mb-4 js-show-on-scroll ">Kami diperkenalkan oleh teman kami, pada sebuah cafe.</p>

            <span class="border-b block w-24 mb-4 "></span>

            <p class="font-bold">1 Maret 2020</p>

            <p class="mb-4 js-show-on-scroll ">Hubungan semakin dekat, dan kami mulai lebih dekat dari teman sekedar teman biasa.</p>

            <span class="border-b block w-24 mb-4 "></span>

            <p class="font-bold">1 April 2023</p>

            <p class="mb-4 js-show-on-scroll ">Kami merasa mantap dan dia pun mulai melakukan acara pelamaran.</p>

            <p class="mb-4 js-show-on-scroll ">Bismillah...</p>

        </div>
    </div>


</section>


<style></style>
