---
export interface Props {
  fotoBgRsvp: string;
  separator1: string;
  separator2: string;
  separator3: string;
  separator4: string;
}

const {
  fotoBgRsvp,
  separator1, 
  separator2, 
  separator3, 
  separator4 
} = Astro.props;
---
<section
  class=" relative h-full flex flex-col items-center justify-around text-center snap-center bg-cover bg-center"
>
    <!--<img src={fotoBgRsvp} class="h-96 mx-auto p-4 js-show-on-scroll" />-->

<!--  <img src={separator3} class="md:w-1/6 w-2/3 mx-auto mt-36 js-show-on-scroll" />-->


  <div class="z-40 w-full">
    <p class="font-serif text-6xl">RSVP</p>
    <p class="">Konfirmasi kehadiran tamu</p>
        <div class="flex flex-row justify-center ">
            <div class="rounded-lg p-4 lg:px-40 m-6 lg:w-2/3 w-full backdrop-blur-sm js-show-on-scroll border-white border ">
                <form name="submit-form">
                    <label class="block font-bold md:w-96 mx-auto"
                    >Nama lengkap
                        <input
                            name="nama"
                            type="text"
                            class=" w-full p-3 my-4 text-white bg-white/0 border-b border-white  font-normal"
                            required="required"
                        />
                    </label>

                    <div class="my-6">
                        <label for="hadir" class="block font-bold">
                            <input
                                type="radio"
                                id="hadir"
                                name="konfirmasi"
                                value="yes"
                                onclick="konfirmasihadir()"
                                class="text-white"
                                required="required"
                            />
                            Ya, saya akan datang
                        </label>

                        <label for="tidakhadir" class="block font-bold">
                            <input
                                type="radio"
                                id="tidakhadir"
                                name="konfirmasi"
                                value="no"
                                onclick="konfirmasihadir()"
                                required="required"
                            />
                            Maaf, tidak bisa datang
                        </label>
                    </div>

                    <div
                        id="hadirberapa"
                        style="display:none"
                        class="block font-bold md:w-96 w-full mx-auto"
                    >
                        <label for="floatingPassword" class="block font-bold"
                        >Berapa orang?
                            <input
                                type="text"
                                inputmode="numeric"
                                pattern="[0-9]+"
                                name="jumlah"
                                class="w-full p-3 my-4 text-white bg-white/0 border-b border-white font-normal"
                            />
                        </label>
                    </div>

                    <div class="">
                        <label for="ucapan" class="block font-bold "
                        >Isi ucapan
                            <input
                                name="pesan"
                                type="text"
                                class="w-full p-3 my-4 text-white bg-white/0 border-b border-white h-32 font-normal"
                            />
                        </label>
                    </div>

                    <button
                        class="btn-kirim animate-pulse border-white border-b p-4 text-white/80 font-bold"
                        type="submit">Kirim</button
                    >
                    <button class="btn-loading hidden bg-white/20 p-4 font-bold"
                    >Loading</button
                    >
                </form>
            </div>
            </div>
  </div>


</section>

<style>


</style>
